<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-osx-battery"
 version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" 
 xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OSXBattery</name>
    <js-module name="OSXBattery" src="www/OSXBattery.js">
        <clobbers target="navigator.OSXBattery" />
    </js-module>

    <!-- osx -->
    <platform name="osx">
        <config-file target="config.xml" parent="/*">
            <feature name="OSXBattery">
                <param name="osx-package" value="CDVOSXBattery" />
            </feature>
        </config-file>
        <header-file src="src/osx/CDVOSXBattery.h" />
	    <source-file src="src/osx/CDVOSXBattery.m" />

        <framework src="IOKit.framework" />
    </platform>
</plugin>
